.container_bg{
    background: rgb(46,147,255) !important;
    background: linear-gradient(180deg, rgba(46,147,255,1) 0%, rgb(18, 19, 19) 100%) !important;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-login-color{
    background: rgb(46,147,255);
    background: linear-gradient(236deg, rgba(46,147,255,1) 0%, rgba(30,84,141,1) 100%);
}
.btn-Register-color{
    background: rgb(9,2,105);
    background: linear-gradient(193deg, rgba(9,2,105,1) 0%, rgba(254,37,144,1) 100%);
}